*{
margin: 0%;
padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
::-webkit-scrollbar {
width: 5px;
margin-left: 5px;
margin-top: 5px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 3px;
background-color: rgba(0, 62, 100, 0);
/* Cor do polegar da barra de rolagem */
margin-top: 5px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 5px;
border-radius: 7 rgba(177, 175, 175, 0.041);
background-color: rgba(38, 39, 39, 0);
border-radius: 5px;
cursor: pointer;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(253, 252, 252);
margin: 0%;
padding: 0%;
}

#divGeral{
margin: auto;
width: 100%;
max-width: 1900px;
}
header{
margin: auto;
width: 100%;
max-width: 1900px;
background-color: rgba(255, 255, 255, 0.76);
padding-bottom: 0px;
position: fixed;
z-index: 99;
}
#header_um{
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

#divRedes{
margin: 0 auto;
color: rgb(3, 3, 3);
display: flex;
align-items: center;
gap: 40px;
}
#divRedes p:hover{
color: rgb(255, 166, 0);
}
#divRedes i{
color: aliceblue;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.300rem);
}
#P_WhatsappFooter i{
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.400rem);
}
#divRedes i:hover{
color: rgb(252, 73, 3);
}
#divRedes p:hover i{
color: rgb(255, 123, 0);
}
#divRedes p{
color: rgb(32, 32, 32);
cursor: pointer;
}
#divRedes #P_InstagreanFooter:hover i{
color: rgb(156, 0, 156);
}
#divRedes #P_EmailFooter:hover i{
color: rgb(0, 16, 236);
}
header i, #admin{
color: rgb(34, 34, 34);
cursor: pointer;
}
#logo img{
width:140px;
}
#bHome{
font-family: 'Poppins', sans-serif;
margin-left: 5px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.900rem);
}
#togle{
margin-right: 10px;
}
#menu{
margin-right: 10px;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
display: none;
}
#I_Casa, #admin{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.100rem);
margin-left:0px;
border:0cap;
background-color: transparent;
}
#I_Casa:hover,#menu:hover, #admin:hover{
color: rgb(253, 72, 0);
}
#imgUser{
padding: 1px;
border: 2px solid rgb(255, 60, 0);
border-radius: 50%;
margin-right: 5px;
cursor: pointer;
}
#divUser{
display: flex;
align-items: center;
}
#lblUser{
color: rgb(5, 5, 5);
font-size: clamp(0.900, 0.3vw  + 0.5rem, 1rem);
font-family: 'Poppins', sans-serif;
cursor: pointer;
font-weight: bold;
}
main{
margin: auto;
width: 100%;
max-width: 1920px;
}

#main_Um{
 position: relative;
padding-top: 160px;
margin: auto;
width: 100%;
max-width: 1920px;
min-height: 50vh;
background-color: rgba(255, 251, 251, 0);
color: rgb(32, 32, 32);
font-family: 'Poppins', sans-serif;
}
#main_Um::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.884); /* camada translúcida */
  z-index:-1;
}

#divheader_dois{
margin: auto;
width: 100%;
display: flex;
justify-content: center;
text-align: center;
background-color: rgba(0, 46, 172, 0);
padding: 7px;
color: rgb(48, 48, 48);
}
#divheader_dois i{
color: black;
}
#mainUm_Flex{
margin: auto;
width: 100%;
max-width: 1400px;
min-height: 70vh;
background-color: rgba(127, 255, 212, 0);
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-top: 12px;
padding-bottom: 30px;
gap: 10px;
margin-bottom: 40px;
flex-wrap: wrap;
}
#divLateral{
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
margin: auto;
width: 25%;
max-width: 280px;
min-width: 280px;
min-height: 20vh;
background-color: rgba(0, 0, 0, 0);
overflow: hidden;
margin-top: 1px;
 position: relative;
}
#divLista{
margin: auto;
width: 70%;
background-color: rgba(255, 255, 255, 0);
min-height: 20vh;
margin-top: 1px;
}
.h2Titulo{
font-size: clamp(2., 0.3vw  + 0.5rem, 2.200rem);

}
#divLateral h1 ,#divLista h1{
width: 100%;
text-align: center;
padding-top: 16px;
padding-bottom: 10px;
background-color: rgba(247, 49, 0, 0);
font-family: 'Poppins', sans-serif;
text-shadow:  1px 1px 3px rgba(255, 51, 0, 0.479);
color: rgb(255, 51, 0);
font-size: clamp(2.500rem, 0.3vw  + 0.5rem, 2.500rem);
}

#laterParagrafos{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
margin-top: 20px;
padding-bottom: 30px;
}
#nichos{
margin: auto;
width: 97%;
cursor: pointer;
border: 0cap;
outline: none;
padding-top: 10px;
padding-bottom: 20px;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.500rem, 0.3vw  + 0.5rem, 1.500rem);
font-weight: bold;
color: #000000;
border-bottom: 7px solid rgba(0, 0, 0, 0.089);
border-radius: 12px;
background-color: transparent;
background-color: #f8f8ff;
}
#nichos option{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.200rem);
color: #ffffff;
background-color: #ff4800;
cursor: pointer;

}
#nichos:hover{
color: #ff4800;

}
#laterParagrafos p{
margin: auto;
width: 97%;
padding-top: 15px;
padding-bottom: 15px;
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
background-color:rgb(245, 248, 255);
text-align: center;
color: rgb(53, 53, 53);
border-radius: 10px;
font-weight: bolder;
font-family: 'Rubik', sans-serif;
box-shadow:  1px 2px 1px 2px rgba(0, 0, 0, 0.11);
}

#banner video{
width: 100%;
height: 100vh;
background-color: rgb(255, 217, 0);
}
#banner::before {
content: "";
position: absolute;
inset: 1px;
background:#00000010; /* sombra/overlay */
fill-opacity: 0.5;
filter: brightness(0.5); 
min-height: 100vh;
}
#divPesquisar{
width: 100%;
text-align: center;
border-radius: 10px;
padding-top: 7px;
padding-bottom: 7px;
border-bottom: 0px solid rgba(0, 0, 0, 0.158);
margin-bottom: 10px;
background-color: #f3f3ff;
}
#inputPesquisar{
width: 70%;
padding: 10px;
background-color: rgba(64, 224, 208, 0);
cursor: pointer;
outline: none;
border: 0cap;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.300rem);
text-align: center;
}
#btnPesquisar{
width: 15%;
padding: 5px;
background-color: rgba(0, 134, 196, 0);
cursor: pointer;
outline: none;
border: 0cap;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.300rem);
font-weight: bold;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
#btnPesquisar i{
font-weight: bold;
}
#btnPesquisar:hover{
color: rgb(255, 72, 0);
}
#laterParagrafos p:hover{
box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.11);
}
.my-customProduto text{
color: #ffffff;
font-size: clamp(1.700rem, 0.3vw  + 0.5rem, 1.700rem);
}
#laterParagrafos #magalu{
padding: 5px;
overflow: hidden;
text-align: center;
}
#laterParagrafos #magalu img{
width: 95%;

}
#laterParagrafos #magalu:hover{
box-shadow: 0px 2px 2px 1px rgb(246, 248, 255);
}

@media (max-width: 1100px) {
#divLateral{
width: 25%;
max-width: 280px;
min-width: 280px;
min-height: 50vh;
}
#divLista{
width: 65%;
margin-left: 10px;
margin-right: 10px;
}
#divUser{
display: none;
}

#nichos{
margin: auto;
width: 97%;
cursor: pointer;
border: 0cap;
outline: none;
padding-top: 15px;
padding-bottom: 25px;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.600rem);
font-weight: bold;
color: #000000;
border-bottom: 7px solid rgba(0, 0, 0, 0.089);
border-radius: 12px;
background-color: transparent;
background-color: #f8f8ff;
}
#divLateral h1{
font-size: clamp(2.500rem, 0.3vw  + 0.5rem, 2.500rem);
margin-top: 0;
padding-top: 0;
padding-bottom: 30px;
}
}

@media (max-width: 1100px) {
#divLateral{
margin: auto;
width: 98%;
max-width: 400px;
margin-top: 30px;
margin-bottom: 20px;
}
#divLista{
margin: auto;
min-width: 98%;
margin-top: 10px;
margin-bottom: 30px;
min-height: 20vh;
}
#mainUm_Flex{
margin: auto;
width: 100%;
max-width: 1400px;
min-height: 40vh;
display: flex;
flex-direction: column;
}
}
#P_hora{
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
color: rgb(15, 15, 15);
}

@media (max-width: 840px) {
#I_Casa{
margin-left: 80px;
}
footer{
background-size: 67%;
}
}
@media (max-width: 740px) {
#I_Casa{
margin-left: 50px;
}
}
@media (max-width: 640px) {
#I_Casa{
margin-left: 10px;
}
#menu{
display: block;
}
#divUser, #divHbotões{
display: none;
}
}

@media (max-width: 500px) {
#I_Casa{
margin-left: 2px;
}
}
@media (max-width: 400px) {
#I_Casa{
margin-left: 2px;
}
}

@media (max-width: 380px) {
#I_Casa{
margin-left: 2px;
}

}
#myProgresos {
width: 77%;
background-color:rgba(255, 115, 0, 0);
display: none;
border-radius: 10px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
border: 2px solid rgba(200, 204, 207, 0);
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem);
}
#myBarr {
width: 2%;
/* Começa com 1% */
height: 40px;
background-color: rgb(4, 65, 196);
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.300rem);
text-align: center;
/* Centraliza horizontalmente */
line-height: 40px;
/* Centraliza verticalmente */
color: rgb(255, 230, 0);
text-shadow: 0px 1px 1px black;
border-radius: 10px;
border: 1px solid rgb(0, 174, 255);
font-weight: bolder;
outline: none;
font-family: 'Poppins', sans-serif;
position: relative;
bottom: 15px;
box-shadow: 10px 10px 10px rgb(0, 195, 255);
}   
.my-customTime{
margin: auto;
width: 90%;
max-width: 600px;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
}
.my-customTime img{
width: 90%;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
border-radius: 50%;
box-shadow: 0px 10px 20px rgb(255, 255, 255);
}
.my-customTime #divInit{
width: 100%;
min-height: 15vh;
}

#laterParagrafos #amazon:hover{
background-color: rgb(244, 249, 255);
box-shadow:  1px 2px 1px 2px rgb(255, 255, 255);
}
#MenuIMG{
margin-top: 0px;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: rgba(0, 125, 163, 0);
padding-bottom: 10px;

}
#imgMenuUser{
width: 46%;
padding: 2px;
border-radius: 50%;
max-width: 120px;
border: 2px solid rgb(255, 60, 0);
cursor: pointer;
margin-bottom: 5px;
}
#menu_lateral {
position: fixed;
top: 0px;
left: -165px;
width: 160px;
height: 100%;
min-height: 30vh;
background-color: #ffffff;
color: rgb(36, 35, 35);
transition: left 0.3s ease;
z-index: 999;
padding: 0px;
padding-top: 20px;
padding-bottom: 30px;
overflow-y: auto;
font-family: 'Poppins', sans-serif;
}
#menu_lateral ul {
list-style: none;
padding: 0;
margin-bottom: 120px;
}
#menu_lateral li {
margin: 20px 0;
}
.exit{
float: right;
margin-right: 10px;
}
#menu_lateral a {
color: rgb(36, 35, 35);
text-decoration: none;
font-size: 15px;
cursor: pointer;
margin-left: 10px;
font-weight: bold;
}
#menu_lateral a:hover{
color: rgb(255, 115, 0);
}

.menu-ativo {
left: 0 !important;
}
#menu_lateral #exitMenu{
color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menu_lateral #exitMenu:hover{
color: rgb(223, 0, 111);
}

.my-admin{
width: 99%;
max-width: 460px;
font-family: 'Poppins', sans-serif;
margin-bottom: 100px;
z-index: 9999;
color: #333333;
}
#iPasWord{
margin-right: 2px;
}
.my-admin button{
border-radius: 50%;
cursor: pointer;
color: rgb(0, 0, 0);
margin-right: 10px;
background-color: rgba(235, 235, 235, 0.384);
padding: 0;
}

#administrar{
background-color: rgb(0, 0, 0);
padding-bottom: 30px;
border-radius: 10px;
overflow: hidden;
}
.my-admin h2{
padding: 5px;
background-color: yellow;
color: #333333;
font-family: 'Poppins', sans-serif;
}
#administrar label{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(217, 221, 224);
text-shadow:  0px 1px 1px rgb(43, 42, 42);
}
#administrar input{
margin: auto;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
padding: 11px;
border: 0cap;
outline: none;
width: 71%;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.000rem);
margin-top: 10px;
color: aliceblue;
margin-left: 10px;
border-radius: 5px;
margin-bottom: 2px;
font-family: 'Poppins', sans-serif;
}
#administrar #entrebtn{
background-color: rgb(0, 132, 255);
color: rgb(255, 255, 255);
border-radius: 0px;
border: 0cap;
cursor: pointer;
outline: none;
width: 77%;
padding: 10px;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#administrar #entrebtn:hover{
background-color: aqua;
color: red;
}
#menu{
display: block;
}
.my-custom_img button{
background-color: #ff4800;
border: 0cap;
cursor: pointer;
outline: none;
font-family: 'Poppins', sans-serif;
}
.my-custom_img {
overflow: hidden;
margin: auto;
width: 95%;
max-width: 430px;
text-align: center;
border-radius: 25px;
}
.my-custom_img h2{
color: #ff4800;
font-family: 'Poppins', sans-serif;
}
#lblnomeUser{
color: #030303;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}
.my-custom_img img{
width: 64%;
border-radius: 50%;
border: 7px solid  #ff4800;
margin-bottom: 10px;
}
#deslogar{
color: rgb(84, 0, 219);
cursor: pointer;
text-shadow: 0pc 1px 1px black;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#deslogar:hover{
color: rgb(255, 51, 0);
font-weight: bold;
}
#footer{
width: 100%;
min-height: 73vh;
background-image: url('../SRC/Logo_OrlaSul.png');
background-repeat: no-repeat;
background-position: center;
background-color: rgba(14, 14, 13, 0.932);
}
#bold{
font-weight: bold;
}
#div_lista_{
margin: auto;
width: 100%;
max-width: 1600px;
background-color: #ff4a0200;
margin-top: 100px;
}
#div_lista_ h2{
padding: 20px;
color: #ffffff;
font-size: clamp(2rem, 0.3vw  + 0.5rem, 2rem);
font-family: 'Poppins', sans-serif;
width: auto;
background-color: #ff4800;
margin-bottom: 30px;
}
#list{
margin: auto;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
gap: 20px;
padding-bottom: 30px;
background-color: #ffffff00;
}
#list_{
margin: auto;
width: 96%;
display: flex;
justify-content: space-around;
align-items: center;
 flex-wrap: wrap;
gap: 20px;
padding-bottom: 30px;

}
.divList{
width: 100%;
max-width: 280px;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;

padding-bottom: 10px;
}
.divList_{
width: 100%;
max-width: 220px;
min-width: 220px;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;
box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.514);
border-radius: 20px;
background-color: #ffffff;
padding-bottom: 10px;
}
.divList2{
    text-align: center;
    overflow: hidden;
}
.divList3{
  padding: 10px;
}

.imgList{
margin: auto;
width: 90%;
cursor: pointer;
transition: transform 0.3s ease;
border-radius: 10px;
}
.imgList_{
margin: auto;
width: 100%;
cursor: pointer;
transition: transform 0.3s ease;
border-radius: 10px;
}
.divList:hover .imgList, .divList_:hover .imgList_, .divList:hover .btnList,.divList_:hover .imgList, .divList_:hover .btnList_{ 
transform: scale(1.05);
}
.divList:hover .h3Valor{
border-bottom: 2px solid rgb(255, 94, 0);
}
.pSubtitulo{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.900rem);
font-family: 'Poppins', sans-serif;
color: rgba(3, 107, 17, 0.808);
margin-top: 3px;
}
.pEmpresa{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
font-family: 'Poppins', sans-serif;
color: rgb(0, 18, 121);
}
.divList3{
overflow: hidden;
}
.divList4{
margin: auto;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
gap: 10px;
margin-top: 10px;
}
.btnList{
width: 40%;
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
background-color: rgb(255, 72, 0);
color: rgb(255, 255, 255);
border-radius: 5px;
border: 0cap;
padding: 10px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
transition: transform 0.3s ease;
}
.btnList_{
width:80%;
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
background-color: rgb(255, 72, 0);
color: rgb(255, 255, 255);
border-radius: 5px;
border: 0cap;
padding: 10px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
transition: transform 0.3s ease;
}
#bv{
font-size: clamp(1.800rem, 0.3vw  + 0.5rem, 1.800rem);
color: rgb(2, 2, 2);
font-family: 'Poppins', sans-serif;
font-weight: bold;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
#bvc{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(34, 34, 34);
font-family: 'Poppins', sans-serif;
vertical-align: super;
}
.h3Valor{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.btnList:hover,.btnList_:hover{
background-color: rgb(0, 38, 253);
}
@media (max-width: 640px) {
.divList,.divList_{
width: 82%;
max-width: 400px;
overflow: hidden;
margin-bottom: 30px;
font-family: 'Poppins', sans-serif;
}
#bv{
font-size: clamp(2.300rem, 0.3vw  + 0.5rem, 2.300rem);
color: rgb(2, 2, 2);
font-family: 'Poppins', sans-serif;
font-weight: bold;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.btnList,.btnList_{
padding: 12px;
width:40%;
}

}
@media (max-width: 360px) {
.divList,.divList_{
width: 82%;
max-width: 400px;
overflow: hidden;
margin-bottom: 30px;
font-family: 'Poppins', sans-serif;
}
#bv{
font-size: clamp(2.300rem, 0.3vw  + 0.5rem, 2.300rem);
color: rgb(2, 2, 2);
font-family: 'Poppins', sans-serif;
font-weight: bold;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.btnList,.btnList_{
padding: 12px;
width:80%;
}
}
#divBtnMais{
  float: right;
width: 50%;
max-width: 120px;
cursor: pointer;
text-align: center;
  background-color: #ff4800;
  color: #f3f3ff;
border:0cap;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.600rem);
border-radius: 15px;
margin-right: 50px;

}
#divBtnMais:hover{
  background-color: #ff480000;
  color: #f3f3ff;
}
#btnMais{
  background-color: transparent;
  border: 0cap;
    color: #f3f3ff;
  font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
  font-weight: bold;
  cursor: pointer;
 
}
#divBtnMais:hover #btnMais,#divBtnMais:hover #bbmais{
  color: #001bb4;
  background-color: transparent;
}
#bbmais{
  font-size: clamp(4rem, 0.3vw  + 0.5rem, 4rem);
   background-color: transparent;
   cursor: pointer;
    color: #f3f3ff;
}
.my-customProduto{
border-radius: 46px;
overflow: hidden;
}
.my-customProduto button{
background-color: #ff4800;
outline: none;
border: 0cap;
}

#divQuemSomos{
margin: auto;
width: 93%;
max-width: 1400px;
min-height: 20vh;
min-height: 20vh;
background-color: rgba(255, 254, 216, 0);
margin-top: 50px;
margin-bottom: 30px;
padding-top: 46px;
display: none;
}
#divQuemSomos p{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(0, 0, 0);
text-align: justify;
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}
#bf{
color: rgb(0, 89, 255);
text-shadow: 0px 0px 0px rgb(0, 40, 218);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#bff{
color: rgb(255, 81, 0);
text-shadow: 0px 0px 0px rgb(248, 59, 1);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#h1Oferta{
margin-bottom: 30px;
}
#div_lista_{
    display: none;
}
#h2Desculpe{
    background-color: #f8f8ff;
    padding: 10px;
    border-radius: 20px;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
